<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand navbar-info " href="#">SECURE VAULT</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <button class="btn btn-default float-right  bg-danger font-italic" style="width: 10%; height: 100%;" (click)="gotologin()">Home</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>


<div class="container"><br><br>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded ">
    <h2 class="font-italic" style="color: blue;">View CredentialLocker Item</h2>
    <p></p>   
    
    <br> 
    <br> 
    <br>        
    <table class="table table-striped">
    <tbody>
        <tr>
            <th>
               <h5 class="font-italic" style="color: rgb(36, 175, 175);"> Sourcename</h5>
            </th>
            <th>
               <h5 class="font-italic" style="color: rgb(36, 175, 175);">Username</h5>
            </th>
            <th>
              <h5 class="font-italic" style="color: rgb(36, 175, 175);">Password</h5>
            </th>
        </tr>
        
      <tr>  
        <td>{{credential.sourcename}}</td>  
        <td>{{credential.username}}</td>  
        <td>{{credential.password}}</td>  
    </tr>
          
          
        <!-- </tr> -->
        
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="gotolist()" >back</button>
  </div>
  </div>
  