<!-- <div fxLayoutAlign="center center" fxFlexFill>
<div fxFlex="25" >
    
        <mat-toolbar fxLayoutAlign="center center" > -->
         
            <div>
                <mat-toolbar class="mat1">
                    <h1>Secure Vault</h1>
                    <!-- <br><br>
                    <button class="button1">Home</button> -->
                    <span class="space"></span>
                    <button class="button1">Logout</button>
                </mat-toolbar>
                <div id="leftbox">
                    <br> 
                    <h1 style="text-align: center;">Users</h1>
                    <div class="container">
                        <div id="box1">
                            <p>Credentials</p>
                            <br>
                            <p>3000</p>
                        </div>
                          
                        <div id="box2">
                            <p>Bank info</p><br>
                            <p>1500</p>
                        </div>
                          
                        <div id="box3">
                            <p>Users</p><br>
                            <p>1300</p>
                        </div>
            
                        <div id="box4">
                            <p>Media</p><br>
                            <p>2000</p>
                        </div>
                    </div>
                    
                    
                    <div class="row3" ><br>
                        <mat-divider class="color: red"></mat-divider><br>
                        
                        <mat-toolbar class="tb" >
                            <mat-toolbar-row>
                              <span>User 1</span>
                              <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" class="date">Last visit <br> 13-03-2021</span>
                              <span class="example-spacer"></span>
                              <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >edit_note</mat-icon></button>
                              <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >delete_outline</mat-icon></button>
                            </mat-toolbar-row>
                          </mat-toolbar>
                                  
                                  <mat-toolbar class="tb">
                                    <mat-toolbar-row>
                                      <span>User 2</span>
                                      <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" class="date">Last visit <br> 12-03-2021</span>
                                      <span class="example-spacer"></span>
                                      <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >edit_note</mat-icon></button>
                                      <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >delete_outline</mat-icon></button>
                                    </mat-toolbar-row>
                                  </mat-toolbar>
                                  
                                  <mat-toolbar class="tb">
                                    <mat-toolbar-row>
                                      <span>User 3</span>
                                      <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" class="date">Last visit <br> 10-02-2021</span>
                                      <span class="example-spacer"></span>
                                      <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >edit_note</mat-icon></button>
                                      <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >delete_outline</mat-icon></button>
                                    </mat-toolbar-row>
                                  </mat-toolbar>
                                  
                                  <mat-toolbar class="tb">
                                    <mat-toolbar-row>
                                      <span>User 4</span>
                                      <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" class="date">Last visit <br> 22-01-2021</span>
                                      <span class="example-spacer"></span>
                                      <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >edit_note</mat-icon></button>
                                      <button style="border: none; background-color: rgb(248,  161, 145);"><mat-icon >delete_outline</mat-icon></button>
                                    </mat-toolbar-row>
                                  </mat-toolbar>
                                  
                        
                    </div>
                </div>
            </div>
                <div id="rightbox">
                    <div>
                        <mat-form-field id="r1" appearance="outline">
                            <mat-label  fxLayout="column">Enter password to continue</mat-label>
                            <input  matInput></mat-form-field>
                        <button  layout-align="space-between center" class="btn btn-primary">Check</button>
                    </div>
            
                    <mat-divider></mat-divider>
            
                    <h2>Users</h2>
                        <div fxLayoutAlign="center center" fxFlexFill>
                            <form  fxFlex="50"   fxLayout="column">
                                <mat-form-field appearance="outline">
                                    <mat-label>user1@gmail.com</mat-label>
                                    <input matInput>
                                  </mat-form-field>
                                  <mat-form-field   appearance="outline">
                                    <mat-label>user 1</mat-label>
                                    <input matInput>
                                  </mat-form-field>
                                  <mat-form-field appearance="outline">
                                    <mat-label>User@123</mat-label>
                                    <input matInput>
                                  </mat-form-field>
                                  <mat-form-field appearance="outline">
                                    <mat-label>user</mat-label>
                                    <input matInput>
                                  </mat-form-field>
                                </form>
                        </div>
                        <button class="btn btn-primary">New/Update</button>
                    </div>