<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand navbar-info font-italic " href="#">SECURE VAULT</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <button class="btn btn-default float-right  bg-danger font-italic" style="width: 10%; height: 100%;" (click)="gotologin()">Home</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
</nav>



<div class="container">
  <br><br>
  <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row-3">
      <div class="col-7">
    <h1 class="font-italic" style="color: blue;">Add New CredentialLocker Item</h1>

<form #adduserform="ngForm" (ngSubmit)="adduserformsubmit()">
  <div class="form-group">
    <label for="id">id:</label>
    <input type="text" class="form-control" placeholder="Enter id" name="id" [(ngModel)]="credential.id" required>

  </div>
   
  <div class="form-group">
    <label for="sourcename">sourcename:</label>
    <input type="text" class="form-control" placeholder="Enter sourcename" name="sourcename" [(ngModel)]="credential.sourcename" required>

  </div>
  <div class="form-group">
    <label for="username">username:</label>
    <input type="text" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="credential.username" required>

  </div>
  <div class="form-group">
    <label for="password">password:</label>
    <input type="text" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="credential.password" required>

  </div>

  


 
  <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <br><br><br>
  <button type="button" class="btn btn-success" (click)="gotolist()" >back</button>
</form>
<br>
<br>

</div>
</div>
