<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body background="">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <h6 class="navbar-brand navbar-light font-italic">SECURE VAULT</h6>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <h6 class="btn btn-default float-right  bg-secondary font-italic" style="width: 10%; height: 100%;" (click)="gotoAdmin()">Admin</h6>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <button class="btn btn-default float-right  bg-danger font-italic" style="width: 10%; height: 100%;" (click)="gotologin()">Logout</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </nav>
  
  
  
  
  <!-- <div class="header ">
      <div class="header-left">
        <h3>SECURE VAULT</h3>
      </div>
        <div class="header-right">
          <a href="#default" class="active bg-info" href="#home">Logout</a>
        </div>
      </div> -->
      


  

  <div class="container">
    <div class="row">
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <span class="border font-italic"><button type="submit" class="btn btn-default bg-warning" style="color:whitesmoke" (click)="gotocredentials()">CredentialLocker</button></span>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-default bg-dark font-italic" style="color:white" (click)="gotobanklocker()">BankLocker</button>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="btn btn-default bg-success font-italic" style="color:whitesmoke" (click)="gotomedialocker()">MediaLocker</button>
      
        
      </div>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <div class="col">
        <br>
        <br>
        <br>
        <br>
        <img src="https://images.alphacoders.com/210/thumb-1920-210503.jpg" class="rounded-circle" alt="Cinque Terre" width="500" height="500">
      </div>
    </div></div>
  
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    
</body>
</html>

